<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div class="wrapper">
  
    <h3>You have been logged out</h3>
  </div>
  <div class="wrapper">
  
  <div class="card" style="width:40%">
    <p><b>Session Expired</b></p>
  
  <div>
    
    <form class="form">
        
    <div class="form-group row">
      
    <label for="start" class="col-sm-4 col-form-label">Last Logged In -</label>
    
    <div class="col-sm-6">
      
     <input type="datetime-local" class="form-control" id="start" placeholder="">
      
    </div>
         
   </div>
        
  </form>
  
  </div>
  <div class="wrapper" style="margin-top:3px">
    
    <a href="">Click here to go to login page</a>
  
  </div>
  
  </div>
  
  </div>
</body>
</html>

