<navbaraccount></navbaraccount>
<div class="wrapper">
  <h3>Set New Transaction Password</h3>
</div>
<div class="wrapper">
	<div class="card" style="width:70%">
		

		<form [formGroup]="loginForm">

			

      <div class="form-group row">
        
        <label for="inputPassword" class="col-sm-4 col-form-label"> Transaction Password <span style="color:red" >*</span></label>
          
        <div class="col-sm-6">
				<input class="form-control" formControlName="password" type="password" placeholder="Enter Transaction Password" />
      </div>
    </div>
			<div class="error-messages">
				<ng-container *ngFor="let error of error_messages.password">
					<div class="error-message" *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
            {{ error.message }}
            
					</div>
				</ng-container>
			</div>

			
      
      
			<div class="form-group row">
        
        <label for="inputPassword" class="col-sm-4 col-form-label"> Confirm Transaction Password <span style="color:red" >*</span></label>
          
        <div class="col-sm-6">
				<input class="form-control" formControlName="confirmpassword" type="password" placeholder="Enter Password" />
      </div>
			</div>
			<div class="error-messages">
				<ng-container *ngFor="let error of error_messages.confirmpassword">
					<div class="error-message" *ngIf="loginForm.get('confirmpassword').hasError(error.type) && (loginForm.get('confirmpassword').dirty || loginForm.get('confirmpassword').touched)">
						{{ error.message }}
					</div>
				</ng-container>
      </div>
      
      <div class="wrapper">
      <button type="button" (click)="view()" class="form-control btn btn-primary" style="margin-bottom: 20px; width: 100px;" [disabled]="!loginForm.valid">Submit</button>
      </div>
		</form>
  </div>
</div>

