.cardz{
  margin: auto;
  width:80%;
}
.foots{
  margin-top: 20px;
    text-align: center !important;
    background-color: black;
    color: white;
}

.bg-primary{
  background-color: black !important;
  margin-bottom: 5px;
}
.bg-warning {
  background-color: darkblue !important;
}






  
  