.cardz{
  margin: auto;
  width:80%;
}
.navbar-nav{
  margin: 0px;
  width: 100%;
  display:table;

}
.navbar-nav > li {
  float: center;
  display:table-cell;
  text-decoration-style: dashed;
}
.foots{
  margin-top: 20px;
    text-align: center !important;
    background-color: black;
    color: white;
}

.bg-primary{
  background-color: black !important;
  margin-bottom: 5px;
}





  
  