<div class="cardz">
  <header>
  <a class="bgimage">
      <img class="img-responsive" src="/assets/IMAGES/bank_of_lti.jpg" width="100%" height="200" alt="">
  </a>
  </header>
  
  <router-outlet>
  
  </router-outlet>
  
  <div class="foots">
  <footer>
    <h2> Connect With Us</h2>
      <nav class="navbar navbar-expand-lg bg-primary">
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="icons">
                  <a class="nav-link" href="https://www.linkedin.com/company/l&amp;t-infotech" title="Linkedin">
                  <img src="/assets/IMAGES/linkedinb.png" alt="HTML5 Icon" width="30" height="30"></a></li>
                <li class="icons">
                  <a class="nav-link" href="https://twitter.com/LTI_Global" title="Twitter">
                  <img src="/assets/IMAGES/twitterb.png" alt="HTML5 Icon" width="37" height="37"></a></li>
                <li class="icons">
                  <a class="nav-link" href="https://www.youtube.com/user/LarsenToubroInfotech" title="Youtube">
                  <img src="/assets/IMAGES/youtubeb.png" alt="HTML5 Icon" width="45" height="45"></a></li>
                <li class="icons">
                  <a class="nav-link" href="https://www.facebook.com/LarsenToubroInfotech" title="Facebook">
                  <img src="/assets/IMAGES/facebookb.png" alt="HTML5 Icon" width="40" height="40"></a></li>
                <li class="icons">
                  <a class="nav-link" href="https://www.instagram.com/LTI_Global/" title="Instagram">
                  <img src="/assets/IMAGES/instagramb.png" alt="HTML5 Icon" width="35" height="35"></a></li>
                <li class="icons">
                  <a class="nav-link" href="https://www.lntinfotech.com/contact-us/" title="Mail">
                  <img src="/assets/IMAGES/gmailb.png" alt="HTML5 Icon" width="50" height="50"></a></li>
              </ul>
          </div>
      </nav>
      <span class="copyright">© 2020 Bank of Larsen and Toubro Infotech</span>
      <br/>
      <span class="copyright">Terms and Conditions Applied</span>
  </footer>
  </div>
  </div>