.navbar-nav{
    margin: 0px;
    width: 100%;
    display:table;
  
  }
  .navbar-nav > li {
    float: center;
    display:table-cell;
    text-decoration-style: dashed;
  }
  
  .boxes{
      text-align: center !important;
      background-color: white !important;
      color: white !important;
  }
  
  .bg-primary{
    background-color: darkblue !important;
    margin-bottom: 5px;
  }
  .navbar-nav > li > a{
    color: white !important;
    text-decoration: none;
    background-color: transparent;
}
  