<div class="cardz">
    <div class="learn">
<h1 class="color1">We're enhancing your Personal Internet Banking experience!</h1>
<br/>


<h5 class="color2">
Your Personal Internet Banking experience with Bank of LTI is evolving for the better. Our new design makes it easier for you to manage your accounts and finances online with Bank of LTI.
<br/>
You'll start to notice a refreshed look and enhancement of our features gradually over the coming months. 
<br/>
</h5>


<h3 class="color1">
What's changing?
</h3>
<br/>


<h5 class="color2">
A simplified new design, based around you and your banking needs!
<br/>
Mobile and tablet friendly screens, allowing you to use Personal Internet Banking wherever you are
<br/>
Our new Internet Banking Homepage will show your refined account details with the new look, allowing you to experience Bank of LTI Personal Internet Banking.
<br/>
Our new move money feature will start to replace the traditional transfer options, making it simpler for you to move money between accounts and set up payments.
<br/>
Our new Logon journey will be replacing the current one making it simpler and faster, whilst being just as secure as it has always been.
<br/>
</h5>

<h3 class="color1">
Need Help?
</h3>

<h5 class="color2">
Visit our contact page to speak to us over the phone, email or online enquiry.
<br/>
Contact us
<br/>
Contact us via email or phone
<br/>
Help & Support 
</h5>


<h3 class="color1">
What you need to do?
</h3>

<h5 class="color2">
Bank of LTI's Internet Banking is quick, easy and secure, allowing you access to a wide range of transactions such as utility bill payments, Fund transfers to your own accounts in India, viewing e-statements etc. Mentioned below are the features and benefits of bank of LTI's Internet Banking services.
<br/>
Complete control over accounts
<br/>
View your bank account / mini statements and transactions at your convenience
<br/>
Transfer funds online to accounts with Bank of LTI and other banks in India.
<br/>
Say goodbye to queues and missed dates, Manage your investments - buy, redeem and switch between mutual funds* online.
<br/>
At Bank of LTI, we endeavour to ensure a secure environment for your Personal Internet Banking experience. A wide range of services are available to you through Bank of LTI Personal Internet Banking. Most of these services would be available to you post logon. However, to safeguard your account further, certain sensitive services require a higher level of authentication using a Security Device.
<br/>
Find out more about banking security.
</h5>
</div>
</div>