<navbarmain></navbarmain>
<div class="carddecks ">
  <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
                  <div class="card-header badge-dark">
                    <h4 class="my-0 font-weight-normal">Corporate Banking</h4>
                  </div>

            <div class="card-body bg-chng">
              <br/>
              <a routerLink="/adminlogin"><button type="button" class="btn btn-lg btn-block btn-secondary">Admin login</button></a>
                <br/>
                <a routerLink="/adminregister"><button type="button" class="btn btn-lg btn-block btn-secondary">Admin Register</button></a>
                <br/>
                <h6 class="card-title pricing-card-title">NOTE: Please contact your Branch Manager for any login related issues.</h6>
            </div>

        </div>
  
        <div class="card mb-4 shadow-sm">
              <div class="card-header badge-dark">
                  <h4 class="my-0 font-weight-normal">Application</h4>
              </div>

              <div class="card-body bg-chng">
                <br/>
                    <a routerLink="/register"><button type="button" class="btn btn-lg btn-block btn-secondary">Register For Online Banking</button></a>
                <br/>
                    <a routerLink="/trackapp"><button type="button" class="btn btn-lg btn-block btn-secondary">Track Application Status</button></a>
              </div>
        </div>

        <div class="card mb-4 shadow-sm">
              <div class="card-header badge-dark">
                  <h4 class="my-0 font-weight-normal">Personal Banking</h4>
              </div>

              <div class="card-body bg-chng">
                    <br/>
                        <a routerLink="/login"><button type="button" class="btn btn-lg btn-block btn-secondary">User Login</button></a>
                        <br/>
                        <a routerLink="/openaccount"><button type="button" class="btn btn-lg btn-block btn-secondary">Open New Account</button></a>
                        <a routerLink="/forgotpassword" class="badge badge-danger" text-align="right">Forgot Password?</a>
                        <a routerLink="/forgotuserid" class="badge badge-danger" text-align="right">Forgot UserId?</a>
                        <br/>
                        <a routerLink="/contactus" class="badge badge-warning" text-align="text-center">Contact Customer Care</a>
              </div>
        </div>

  </div>
</div>

  
  <div class="cardz">
      <div class="jumbotron jumbotron-fluid bg-warning">
            <div class="container">
                <img class="img-responsive" src="/assets/IMAGES/girl.png" width="100%" height="200" alt="">
                      <h1 class="display-4">We are here for you 24*7</h1>
                      <h2>Bank online safely and securely from the comfort of your home.</h2>
                      <a  class="btn btn-danger btn-lg" routerLink="/learnmore" role="button">Learn more</a>
            </div>
      </div>
  </div>