<navbarlogin></navbarlogin>
<div class="wrapper">
  
    <h3>Set New Password</h3>
  </div>
  <div class="wrapper">
  
  <div class="card" style="width:60%">
  
  <div>
    
    <form class="form">
        
    <div class="form-group row">
      
    <label for="inputPassword" class="col-sm-5 col-form-label">Login Password <span style="color:red" >*</span></label>
    
    <div class="col-sm-6">
      
     <input type="password" class="form-control" id="inputPassword" placeholder="Enter Login Password" required minlength="6">
      
    </div>
         
   </div>
          
  <div class="form-group row">
        
      <label for="inputPassword" class="col-sm-5 col-form-label"> Confirm Login Password <span style="color:red" >*</span></label>
        
      <div class="col-sm-6">
           
     <input type="password" class="form-control" id="inputPassword" placeholder="Confirm Your Password" required minlength="6">
      
        </div>
      
      </div>
        
  </form>
  
  </div>
  
  <div class="wrapper">
      
  <button type="button" class="btn btn-primary" style="margin-bottom: 20px; width: 100px;">Submit</button>
  
  </div>
  
  
  </div>
  
  </div>


