<div class="cardz">
    <h1>Loaded with Exciting Offers!</h1>
    
    <h3>
    Bank of LTI Visa Debit Cards and Bank of LTI RuPay Debit Cards are loaded with great discount offers from top brands, just for you!
     </h3>
    
     <h2>
    100+ Debit Card offers
     </h2>
    <h3>
    Great debit card offers across categories like shopping, travel, dining, health & wellness, entertainment, business and more.
     </h3>
    
     <h2>
    Offers Near You
    </h2>
    
    <h5>
    Locate the best debit card offers and save easily on your regular spends at stores near you.
     <br/>
    Best Debit Card Offers on your Bank of LTI Debit Card
    <br/>
    Love shopping on your favorite brands and wish to save on them at the same time? Presenting great deals & discount offers on your Bank of LTI Visa and RuPay Debit Card.
    <br/>
    Your Bank of LTI Debit Card is your one-stop solution to avail exciting offers available across 100+ brands across the globe, to make your shopping experience delightful.
     <br/>
    So, every time you think of shopping, don’t wait! Visit our offers section to find the best debit card offers and save more on every spend.
     </h5>
    
     <h2>
     Bank of LTI Visa and RuPay Debit Card Offers are available across all categories:
     </h2>
    
     <h3>
    Explore offers across categories & sub-categories of your choice to find your favourite brands.
    </h3>
    
    <h5>
    Shopping: Discount on latest fashion, Exciting Offers on Electronics, Best deals on footwear and more
    <br/>
    Dining: Discount on food, pizza, dining program & membership
    <br/>
    Entertainment: Movie ticket offer, discount on subscriptions
    <br/>
    Travel: Discount on flight tickets, best deals on hotel booking, best price on bus tickets
    <br/>
    Health & Wellness: Discount on medicine, best deals on health check-ups, COVID consultation, offers on health products
    <br/>
    Business: Best deals to help you grow your business
    </h5>
    </div>