<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div class="wrapper">
  
    <h3>Admin Login</h3>
  </div>
  <div class="wrapper">
  
  <div class="card" style="width:40%">
  
  <div>
    
    <form class="form">
        
    <div class="form-group row">
      
    <label for="staticEmail" class="col-sm-3 col-form-label">User Id</label>
    
    <div class="col-sm-6">
      
     <input type="text" class="form-control" id="staticEmail" placeholder="Enter Your User Id">
      
    </div>
         
   </div>
          
  <div class="form-group row">
        
      <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
        
      <div class="col-sm-6">
           
     <input type="password" class="form-control" id="inputPassword" placeholder="Enter Your Password">
      
        </div>
      
      </div>
        
  </form>
  
  </div>
  
  <div class="wrapper">
      
  <button type="button" class="btn btn-primary">Submit</button>
  
  </div>
 
  
  </div>
  
  </div>
</body>
</html>

