
<navbarlogin></navbarlogin>
<div class="wrapper">
  <h3>Login</h3>
</div>
<div class="wrapper">
	<div class="card" style="width:50%">
		

		<form [formGroup]="loginForm" (ngSubmit)="UserLogin()">
			<div class="form-group row">
        <label for="staticEmail" class="col-sm-4 col-form-label">User Id <span style="color:red" >*</span></label>
        <div class="col-sm-6">
				<input class="form-control" formControlName="fname" placeholder="Enter Your User Id" type="text" [(ngModel)]="user.userId"/>
      </div>
    </div>
			<div class="error-messages">
				<ng-container *ngFor="let error of error_messages.fname">
					<div class="error-message" *ngIf="loginForm.get('fname').hasError(error.type) && (loginForm.get('fname').dirty || loginForm.get('fname').touched)">
						{{ error.message }}
					</div>
				</ng-container>
			</div>

      <div class="form-group row">
        
        <label for="inputPassword" class="col-sm-4 col-form-label"> Password <span style="color:red" >*</span></label>
          
        <div class="col-sm-6">
				<input class="form-control" formControlName="password" type="password" placeholder="Enter Your Password" [(ngModel)]="user.password"/>
      </div>
    </div>
			<div class="error-messages">
				<ng-container *ngFor="let error of error_messages.password">
					<div class="error-message" *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
            {{ error.message }}
            
					</div>
				</ng-container>
			</div>
      <div class="wrapper">
        <button type="submit" class="form-control btn btn-primary" style="margin-bottom: 20px; width: 100px;" [disabled]="!loginForm.valid">Login</button>
      </div>
    </form>
    <div class="wrapper" style="margin-top:3px">
    
      <a href="" routerLink="/forgotuserid" routerLinkActive="active">Forgot User ID</a>
    
    </div>
    
    <div class="wrapper" style="margin-bottom:2px">
      
      <a href="" routerLink="/forgotpassword" routerLinkActive="active">Forgot Password</a>
    
    </div>
  </div>
</div>