<navbaraccount></navbaraccount>
<div class="wrapper">
    <h3 style="margin-bottom: 20px; margin-top: 10px;">Add Beneficiary</h3>
</div>
<div>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="AddBenef()">
        <div class="wrapper">
            <div class="card" style="width:50%">
                <div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-5 col-form-label" style="font-size: large;"><b>Personal Details: </b></label>
                    </div>

                    <div class="form-group row">
                        <label for="title" class="col-sm-5 col-form-label">Title <span style="color:red" >*</span></label>
                        <div class="col-sm-6">
                            <select class="form-control" id="title">
                                <option value="Mr."> Mr.</option>
                                <option value="Mrs."> Mrs.</option>
                                <option value="Ms."> Ms.</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="bName" class="col-sm-5 col-form-label">Beneficiary Name <span style="color:red" >*</span></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="bName" name ="bName" formControlName="fname" placeholder="Enter Beneficiary Name" name="name" [(ngModel)]="user.name" >
                        </div>
                    </div>
                    <div class="error-messages">
                        <ng-container *ngFor="let error of error_messages.fname">
                            <div class="error-message" *ngIf="loginForm.get('fname').hasError(error.type) && (loginForm.get('fname').dirty || loginForm.get('fname').touched)">
                                {{ error.message }}
                            </div>
                        </ng-container>
                    </div>
                    <div class="form-group row">
                        <label for="bNickName" class="col-sm-5 col-form-label">Enter Nick Name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="bNickName" placeholder="Enter Nick Name" name="nickName" [(ngModel)]="user.nickName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="bAccountNumber" class="col-sm-5 col-form-label">Enter Beneficiary Account Number <span style="color:red" >*</span></label>
                        <div class="col-sm-6">
                         <input type="text" class="form-control" id="bAccountNumber" formControlName="password" placeholder="Enter Account Number" name="benfAcNumber" [(ngModel)]="user.benfAcNumber">
                        </div>
                    </div>
                    <div class="error-messages">
                        <ng-container *ngFor="let error of error_messages.password">
                            <div class="error-message" *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                    {{ error.message }}
                            </div>
                        </ng-container>
                    </div>
                    <div class="form-group row">
                        <label for="bReAccountNumber" class="col-sm-5 col-form-label">Re-enter Beneficiary Account Number <span style="color:red" >*</span></label>
                        <div class="col-sm-6">
                         <input type="text" class="form-control" id="bReAccountNumber" formControlName="confirmpassword"  placeholder="Re-enter Account Number" >
                        </div>
                    </div>
                    <div class="error-messages">
                        <ng-container *ngFor="let error of error_messages.confirmpassword">
                            <div class="error-message" *ngIf="loginForm.get('confirmpassword').hasError(error.type) && (loginForm.get('confirmpassword').dirty || loginForm.get('confirmpassword').touched)">
                                {{ error.message }}
                            </div>
                        </ng-container>
              </div>
                    
                    <br>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <button class="btn btn-primary" type="submit"  style="margin-bottom: 20px; width: 100px;" [disabled]="!loginForm.valid">Submit</button><br>
        </div>
    </form>
</div>
