<div class="text">
    <h3>
       Account Creation Status
    </h3>
    </div>

        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Reference ID</th>
                <th scope="col">Status</th>
                <th scope="col">Remark</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>R12345</td>
                <td>Declined</td>
                <td>Invalid Address</td>
              </tr>
            </tbody>
        </table>
      <div id="wrapper">
        <button type="button" class="btn btn-primary">Update User Details</button>
      </div>
