<navbaraccount></navbaraccount>

<div class="cardz">

    


    <div class="headsup">
      TRANSACTION HISTORY
    </div>
      <table class="table table-secondary">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Transaction ID</th>
              <th scope="col">From Account</th>
              <th scope="col">To Account</th>
              <th scope="col">Transaction Amount</th>
              <th scope="col">Transaction Type</th>
              <th scope="col">Transaction Mode</th>
              <th scope="col">Transaction Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>123</td>
              <td>123456</td>
              <td>567896</td>
              <td>15000</td>
              <td>+Debited</td>
              <td>NEFT</td>
              <td>21sep</td>
            </tr>
            <tr>
              <td>123</td>
              <td>123456</td>
              <td>567896</td>
              <td>15000</td>
              <td>+Debited</td>
              <td>NEFT</td>
              <td>21sep</td>
            </tr>
            <tr>
              <td>123</td>
              <td>123456</td>
              <td>567896</td>
              <td>15000</td>
              <td>+Debited</td>
              <td>NEFT</td>
              <td>21sep</td>
            </tr>
            <tr>
              <td>123</td>
              <td>123456</td>
              <td>567896</td>
              <td>15000</td>
              <td>+Debited</td>
              <td>NEFT</td>
              <td>21sep</td>
            </tr>
            <tr>
              <td>123</td>
              <td>123456</td>
              <td>567896</td>
              <td>15000</td>
              <td>+Debited</td>
              <td>NEFT</td>
              <td>21sep</td>
            </tr>
          </tbody>
        </table>
  </div>