<navbaraccount></navbaraccount>
<div class="text">
    <h3>
        Fund Transfer
    </h3>
</div>
<div class="wrapper">
  <div class="card" style="width:50%">
    <form class="form">
      <div class="form-group row">
        <label for="From_Account" class="col-sm-4 col-form-label">From Account</label>
        <div class="col-sm3">
          <input type="text" class="form-control" id="To_Account" value="123456" disabled>
        </div>
      </div>
      <div class="form-group row">
        <label for="To_Account" class="col-sm-4 col-form-label">To Account</label>
        <div class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Beneficiary</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" >Parth</a>
            <a class="dropdown-item" >Isha</a>
            <a class="dropdown-item" >Yash</a>
          </div>
        </div>
        <div style="margin-left:10px">
        <button type="button" class="btn btn-primary" >Add Beneficiary</button>
        </div>
      </div>
      <div class="form-group row">
          <label for="Amount" class="col-sm-4 col-form-label">Amount</label>
          <div class="col-sm3">
            <input type="number" class="form-control" id="Amount" placeholder="Enter The Amount">
          </div>
      </div>
      <div class="form-group row">
          <label class="col-sm-4 col-form-label">Transaction Type</label>
          <div class="btn-group">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select  
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item">NEFT</a>
              <a class="dropdown-item">IMPS</a>
              <a class="dropdown-item">RTGS</a>
            </div>
          </div>
      </div>
      <div class="form-group row">
      <label for="Remarks" class="col-sm-4 col-form-label">Remarks</label>
          <div class="col-sm3">
              <input type="text" class="form-control" id="Remarks" placeholder="Enter Remarks">
          </div>
      </div>
    </form>
      <div id="mydiv">
        <button type="button" class="btn btn-primary">Transfer</button>
      </div>
  </div>
</div>