<div class="cardz">
    <nav class="navbar navbar-expand-lg bg-primary">
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="list">
            <a class="nav-link">Profile</a>
          </li>
            <li class="list">
              <a class="nav-link" routerLink="">Account Details</a>
            </li>
            <li class="list">
              <a class="nav-link" href="#">Transaction History</a>
            </li>
            <li class="list">
                <a class="nav-link" href="#">Change Password</a>
            </li>
            <li class="list">
              <a class="nav-link" routerLink="/addbeneficiary">Add Beneficiary</a>
            </li>
            <li class="list">
                <a class="nav-link" routerLink="/fundtransfer">Fund Transfer</a>
            </li>
            <li class="list">
                <a class="nav-link" routerLink=""></a>Logout</a>
            </li>
          </ul>
      </div>
      </nav>
    </div>
