<navbaraccount></navbaraccount>
<div class = "cardz">

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h5 class="mb-0">Exciting offers for our dear customer</h5>
          <br/>
          <p class="card-text mb-auto">Click here for exciting new offers exclusively for you!</p>
          <a href="#" class="stretched-link">Exciting offers here</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h5 class="mb-0">Viewing Your Account Details:</h5>
          <br/>
          <p class="mb-auto">Account Holder Name</p>
          <p class="mb-auto">Account Number: -------</p>
          <p class="mb-auto">Account Balance: 156753782.00</p>

        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
  </div>

<div>
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Transaction ID</th>
            <th scope="col">From Account</th>
            <th scope="col">To Account</th>
            <th scope="col">Transaction Amount</th>
            <th scope="col">Transaction Type</th>
            <th scope="col">Transaction Mode</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>123</td>
            <td>123456</td>
            <td>567896</td>
            <td>15000</td>
            <td>+Debited</td>
            <td>NEFT</td>
            <td>21sep</td>
          </tr>
          <tr>
            <td>123</td>
            <td>123456</td>
            <td>567896</td>
            <td>15000</td>
            <td>+Debited</td>
            <td>NEFT</td>
            <td>21sep</td>
          </tr>
          <tr>
            <td>123</td>
            <td>123456</td>
            <td>567896</td>
            <td>15000</td>
            <td>+Debited</td>
            <td>NEFT</td>
            <td>21sep</td>
          </tr>
          <tr>
            <td>123</td>
            <td>123456</td>
            <td>567896</td>
            <td>15000</td>
            <td>+Debited</td>
            <td>NEFT</td>
            <td>21sep</td>
          </tr>
          <tr>
            <td>123</td>
            <td>123456</td>
            <td>567896</td>
            <td>15000</td>
            <td>+Debited</td>
            <td>NEFT</td>
            <td>21sep</td>
          </tr>
        </tbody>
      </table>
</div>


  </div>
  