.faq{
    margin-top: 20px;
      font-style: verdana;
      background-color: lightgrey;
  
    }
    .color2{
      color: royalblue;
      margin-bottom: 20px;
    }
    .color1{
      color: rebeccapurple;
      font-variant-caps: all-petite-caps;
    }
    