<navbarmain></navbarmain>
<div class="cardz">
    <div class="aboutus">
        <h1 class="color1">
             Who We Are?
        </h1>
        <h4 class="color2">
            Bank of LTI is one of India’s leading private banks and was among the first to receive approval from the Reserve Bank of India (RBI) to set up a private sector bank in 1996.
        <br/>
            Today, Bank of LTI has a banking network of 5,326 branches and 14,996  ATMs spread across 2,825 cities and towns.
        </h4>
        </div>
</div>