<navbarlogin></navbarlogin>
<div class="wrapper">
  
    <h3>Register</h3>
  </div>
  <div class="wrapper">
  
  <div class="card" style="width:70%">
  
  <div>
    
    <form class="form">
        
    <div class="form-group row">
      
    <label for="example-number-input" class="col-sm-5 col-form-label">Enter Account Number <span style="color:red" >*</span></label>
    
    <div class="col-sm-6">
      
     <input type="number" class="form-control" id="example-number-input" placeholder="Enter Account Number" required length="12">
      
    </div>
         
   </div>
          
  <div class="form-group row">
        
      <label for="inputPassword" class="col-sm-5 col-form-label"> Set Login Password <span style="color:red" >*</span></label>
        
      <div class="col-sm-6">
           
     <input type="password" class="form-control" id="inputPassword" placeholder="Enter Password" required minlength="6">
      
        </div>
      
      </div>
      <div class="form-group row">
        
        <label for="inputPassword" class="col-sm-5 col-form-label"> Confirm Login Password <span style="color:red" >*</span></label>
          
        <div class="col-sm-6">
             
       <input type="password" class="form-control" id="inputPassword" placeholder="Enter  Password" required minlength="6">
        
          </div>
        
        </div> 
        <div class="form-group row">
        
            <label for="inputPassword" class="col-sm-5 col-form-label"> Set Transaction Password <span style="color:red" >*</span></label>
              
            <div class="col-sm-6">
                 
           <input type="password" class="form-control" id="inputPassword" placeholder="Enter  Password" required minlength="6">
            
              </div>
            
            </div>
            <div class="form-group row">
        
                <label for="inputPassword" class="col-sm-5 col-form-label"> Confirm Transaction Password <span style="color:red" >*</span></label>
                  
                <div class="col-sm-6">
                     
               <input type="password" class="form-control" id="inputPassword" placeholder="Enter Password" required minlength="6">
                
                  </div>
                
                </div>
                <div class="form-group row">
        
                    <label for="example-number-input" class="col-sm-5 col-form-label"> Enter OTP <span style="color:red" >*</span></label>
                      
                    <div class="col-sm-6">
                         
                   <input type="number" class="form-control" id="example-number-input" placeholder="Enter OTP" required>
                    
                      </div>
                    
                    </div>
  </form>
  
  </div>
  
  <div class="wrapper">
      
  <button type="button" class="btn btn-primary" style="margin-bottom: 20px; width: 100px;">Submit</button>
  
  </div>
 
  
  </div>
  
  </div>

