<div class="cardz">
    <div class="faq">
            <h1 class="color1">
                Frequently Asked Questions:
            </h1>
            <h2 class="color2">
                1. What is OnlineLTI?
            </h2>
            <h3>
            OnlineLTI is the Internet banking service provided by Bank of LTI, India's largest and premier commercial bank.
            </h3>
            <h2 class="color2">
                2. What is special about Internet banking?
            </h2>
            <h3>
    Internet banking is the most convenient way to bank- anytime, any place, at your convenience.
            </h3>
            <h2 class="color2">
                3. I do not have an account with Bank of LTI?
            </h2>
            <h3>
                You are welcome to open it now. It is very easy to open an account with Bank of LTI. You can apply online for opening of a savings bank account. A link 'Open Online Account' is available on the home page of www.onlinelti.com or just walk in to any of our branches nearby. Our staff would be pleased to assist you.
            </h3>
            <h2 class="color2">
                4. I want to register for OnlineLTI now. What do I do?
            </h2>
            <h3>
                Fill up the Registration Form on the OnlineLTI site, complete the form and submit it. Your registration formalities are complete after your details are verified and authenticated by the Admin.
            </h3>
            <h2 class="color2">
                5. Can I change my password?
            </h2>
            <h3>
                Passwords can be changed any time and any number of times. In fact we recommend that your password should be changed periodically to secure access to your account information.
            </h3>
            <h2 class="color2">
                6. What happens if I forget my login password?
            </h2>
            <h3>
                Click on the 'Forgot password' link in the site and provide the requested information. You can reset your password after authentication.
            </h3>
            <h2 class="color2">
                7. I want to know more about Bank of LTI?
            </h2>
            <h3>
                We are glad about the interest you have evinced in Bank of LTI. Please visit our About us on our website www.onlinelti.com
            </h3>
            <h2 class="color2">
                8. I have some queries regarding OnlineLTI?
            </h2>
            <h3>
                We would be glad to answer any specific queries. Please reach out to us on 8094056721.
            </h3>
        </div>
        </div>
